<html>
<head>
	<% include ../partials/header.ejs %>
    
</head>
<body>

    <% include ../partials/nav.ejs %>

	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
				I'm currently using Node.js to serve my web pages and deploying on Heroku. 
				My Github is linked to Heroku, allowing my git pushes to automatically deploy on Heroku.
				You can find the source code for this site on my Github 
				<a href="https://github.com/vincentr21/vincent-personal-node-js">here</a> 
            </p>
          </div>
        </div>
      </div>
    </div>

</body>
</html>