<html>
<head>
	<% include ../partials/header.ejs %>
    
</head>
<body>

    <% include ../partials/nav.ejs %>
        
     <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"></h1>
            <p class="text-center"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <img src="/vincent.jpg" class="center-block img-circle img-responsive">
            <h3 class="text-center">Vincent Ren</h3>
            <p class="text-center">Hey there! I'm Vincent Ren and I graduated from Systems Design Engineering
              at the University of Waterloo. I'm currently building a web app using Node,
              to showcase my previous works and build new projects. You can find out
              more about me below!</p>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center">About Me</h1>
                <p class="text-center"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img src="/frontend-developer.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <h3 class="text-left">Frontend Developer</h3>
                <p class="text-left">I love designing, creating, and prototyping cool things
                  <br>
                </p>
              </div>
              <div class="col-md-2">
                <img src="/backend-developer.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <h3 class="text-left">Backend Developer</h3>
                <p class="text-left">Everything else under the hood, where all the magic happens</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img src="/data-scientist.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <h3 class="text-left">Data Scientist</h3>
                <p class="text-left">I improve my skills on Kaggle using Data Scientist Workbench and ipython
                  notebooks</p>
              </div>
              <div class="col-md-2">
                <img src="/game-developer.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4 text-center">
                <h3 class="text-left">Game Developer</h3>
                <p class="text-left">I've been making games out of everything throughout my life</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img src="/video-gamer.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <h3 class="text-left">Video Gamer</h3>
                <p class="text-left">I used to play in Starcraft2 master league, but then life went on</p>
              </div>
              <div class="col-md-2">
                <img src="/music-producer.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4 text-center">
                <h3 class="text-left">Music Producer</h3>
                <p class="text-left">I like using FL Studio to drop some beats</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img src="/soccer.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <h3 class="text-left">Soccer Player</h3>
                <p class="text-left">I love playing soccer! (Yeah... I don't know why I didn't say "football", I guess for my NA fans)</p>
              </div>
              <div class="col-md-2">
                <img src="/basketball.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4 text-center">
                <h3 class="text-left">Basketball Player</h3>
                <p class="text-left">Let's shoot some hoops!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img src="/german.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <h3 class="text-left">German</h3>
                <p class="text-left">No, I'm not actually German, but I do own a lederhose</p>
              </div>
              <div class="col-md-2">
                <img src="/food.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4 text-center">
                <h3 class="text-left"></h3>
                <p class="text-left">and more!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body></html>