<html>
<head>
	<% include ../partials/header.ejs %>
    
</head>
<body>

    <% include ../partials/nav.ejs %>

	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
				Here I will chronologize all the games I've played in my past and 
				visualize them in some cool way.
            </p>
          </div>
        </div>
      </div>
    </div>


</body>
</html>