<html>
<head>
	<% include ../partials/header.ejs %>
    
</head>
<body>

    <% include ../partials/nav.ejs %>

	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
				I'm building mini-projects that will use some cool technology to do some cool things
            </p>
            <ol class="list-unstyled">
              <li><a href="/projects/chat">Simple chat app</a></li>
            
              <li>Dynamic FAQ messaging system</li>

              <li><a href="https://soundcloud.com/vincentren">Music Production</a>:</li>
              <li>
              <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/339598887&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
				      </li>
              

            </ol>
          </div>
        </div>
      </div>
    </div>

</body>
</html>