<html>
<head>
	<% include ../partials/header.ejs %>
    
</head>
<body>

    <% include ../partials/nav.ejs %>

	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
				I'm building mini-projects that will use some cool technology to do some cool things
            </p>
            <ol class="list-unstyled">
              <li><a href="/projects/chat">Simple chat app</a></li>
            
              <li>Dynamic FAQ messaging system</li>


				
              
            </ol>
          </div>
        </div>
      </div>
    </div>

</body>
</html>