<html>
<head>
	<% include ../partials/header.ejs %>
    
</head>
<body>

    <% include ../partials/nav.ejs %>

	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
				I've built a lot of games in my programming history. I will showcase all of them here.
            </p>
            <ol class="list-unstyled">
              <li>Turing Battle Mages</li>
              <li>VB Shooters Mastermind</li>
              <li>VB Battle Mages</li>
              <li>Java Puzzle Physics game</li>
              <li>Android shooters game</li>
              
            </ol>
          </div>
        </div>
      </div>
    </div>

</body>
</html>