<html>
<head>
	<% include ../partials/header.ejs %>
    
</head>
<body>

    <% include ../partials/nav.ejs %>

	<div class="section">
      <div class="container">
      
      	<div class="row">
        <p>
				I've built a lot of games in my programming history. I will showcase all of them here.
        </p>
      	
      	<h2>Android shooters game</h2>
      	<p>Built using Box2D physics engine and OpenGL for rendering</p>
      	
          <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZwOXOjS0oNk"
              allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-12">
          	<p></p>
            <p>
				Videos of other games waiting to be uploaded:
            </p>
            <ol class="list-unstyled">
              <li>Turing Battle Mages</li>
              <li>VB Shooters Mastermind</li>
              <li>VB Battle Mages</li>
              <li>Java Puzzle Physics game</li>
              <li></li>
              
            </ol>
          </div>
        </div>
      </div>
    </div>

</body>
</html>